<div class="pageBody">

	<table class='basicTable'>
		<tr>
			<th class='dataColumn'>Qty.</th>
			<th class='dataColumn'>Item Name</th>
			<th class='dataColumn'>Sold Price</th>
			<th class='dataColumn'>Quality</th>
			<th class='dataColumn'>Date</th>
			<th class='dataColumn'>   </th>
			<th class='buttonColumn'></th>
			<th class='buttonColumn'></th>
			<th class='buttonColumn'></th>
		</tr>

		<% @sale.each do |sale| %>
			<tr>
				<td class='dataColumn columnRight'><%= sale.qty %></td>
				<td class='dataColumn'><%= sale.item_name %></td>
				<td class='dataColumn columnRight'><%= sale.sold_price %></td>
				<td class='dataColumn columnRight'><%= sale.quality %></td>
				<td class='dataColumn'><%= sale.date %></td>
				<td class='dataColumn'></th>
				<td class='buttonColumn'><div class='button'><%= link_to 'Show', sale_path(sale) %></div></td>
				<td class='buttonColumn'><div class='button'><%= link_to 'Edit', edit_sale_path(sale) %></div></td>
				<td class='buttonColumn'><div class='button'><%= link_to 'Destroy', sale_path(sale), method: :delete, data: {confirm: 'Are you sure?' } %></div></td>
			</tr>
		<% end %>
		<tr><td colspan=9><div class='newItemTableBottom'>
			<span class='button bigbutton'><%= link_to "+ New Sale", new_sale_path %></span>
		</div></td></tr>
	</table>
	
</div>