<!DOCTYPE html>
<html>
<head>
  <title>Market Auction History</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='navBar'>
		<h1>
			Market Auction History
		</h1>
		<!-- <div><%= link_to 'Home', sales_path %></div> -->
		<span class="navElement"><%= link_to 'Sales', sales_path %></span>
		<span class="navElement"><%= link_to 'Items', items_path %></span>

	</div>

<%= yield %>

	<div class='footer'>
		<span id='footerText'><p>&copy;Nick Sanders Productions</p></span>
	</div>

</body>
</html>
